# Test concrete-fft
name: Cargo Test

on:
  push:
    branches:
      - 'main'
  pull_request:

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  cargo-tests:
    runs-on: ${{ matrix.runner_type }}
    strategy:
      matrix:
        runner_type: [ubuntu-latest, macos-latest, windows-latest, m1mac]
      fail-fast: false
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Install Rust
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af
        with:
          toolchain: stable
          override: true

      - name: Test debug
        run: |
          make test
          make test FFT128_SUPPORT=ON

      - name: Test serialization
        run: make test_serde

      - name: Test no-std
        run: |
          make test_no_std
          make test_no_std FFT128_SUPPORT=ON

  cargo-tests-nightly:
    runs-on: ${{ matrix.runner_type }}
    strategy:
      matrix:
        runner_type: [ubuntu-latest, macos-latest, windows-latest, m1mac]
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Install Rust
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af
        with:
          toolchain: nightly
          override: true

      - name: Test nightly
        run: |
          make test_nightly
          make test_nightly FFT128_SUPPORT=ON

      - name: Test no-std nightly
        run: |
          make test_no_std_nightly
          make test_no_std_nightly FFT128_SUPPORT=ON

  cargo-tests-node-js:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Test node js
        run: |
          make install_node
          make test_node_js
